

$primary-color: rgb(7, 12, 13);
$songCard-color: rgb(15, 26, 28);
$secondary-color: rgb(86, 181, 166);
$alt-color: rgb(106, 136, 138);
$light-color: rgb(224, 224, 224);
$overlay-color: rgba(7, 12, 13, 0.9);
$radio-button-color: rgba(159, 159, 159, 0.1);
$ligtht-alt-color: rgb(116, 115, 115);
$white-color: #fff;

// COLOR PALETTE

$primaryColor: "#82B2A";
$primaryColorVar-1: "#184945";
$primaryColorVar-2: "#186D65";

$secondaryColor: "#18998B";
$secondaryColor2: "#22AA98";
$secondaryColorVar-1: "#6ADEC9";
$secondaryColorVar-2: "#A1EEDD";
$secondaryColorVar-3: "#F0F7EE";

$lightColor: "#F1FCF9";
$lightColor: "#F1FCF9";


@mixin glass {
	background-color: secondary;
	backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.25);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	padding: 2em;
	filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
}

#app {

}