

.login__not-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-register__link {
  color: #56b5a6;
  margin-left: .5em;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

/* ======== PATHPICK HOME ======== */
.pickpath-view__wrapper {
  background-image: url(../assets/bg/banner-bg.png);
  background-size: cover;
  background-position: center;
}

.overlay-banner {
  width: 100vw;
  height: 100vh;
  background-color: rgba(86, 181, 167, 0.5);
}




.login-page-wrapper,
.register-page-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/bg/bg-microphone.jpeg);
  background-size: cover;
  background-position: center;
}

.login-page-wrapper .overlay,
.register-page-wrapper .overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 12, 13, 0.9);
  background-size: cover;
}

.login-page-wrapper .overlay-color,
.register-page-wrapper .overlay-color {
  width: 100vw;
  height: 100vh;
  background-color: rgba(7, 12, 13, 0.9);
}

/*# sourceMappingURL=styles.css.map */