<template>
  <v-card data-test="appbar"  v-if="showAppBar || alwaysShowAppBar" max-width="448">
    <v-layout>
      <v-app-bar class="app-bar">
        <router-link :to="{ name: 'HomePage'}">
          <img src="../../assets/logo/BrandLogo.svg" alt="Jammusik logo" class="icon-logo"  />
        </router-link>
        <v-spacer></v-spacer>
         <v-app-bar-nav-icon color="white" class="menu-bar" size="x-large"  @click.stop="handlerDrawer"></v-app-bar-nav-icon>
      </v-app-bar>
    </v-layout>
  </v-card>
</template>

<script setup lang="ts">
import { ref, onMounted, onBeforeUnmount, computed } from 'vue';
import { useRoute } from 'vue-router';

const emit = defineEmits<{
  (e: 'handlerDrawer', drawer: boolean): void;
}>();

const showAppBar = ref(false);
const route = useRoute();

const drawer = ref(false)

const alwaysShowAppBar = computed(() => {
  return route.path === '/help' || route.path === '/profile';
});

const handleScroll = () => {
  showAppBar.value = window.scrollY > 0;
};

onMounted(() => {
  window.addEventListener('scroll', handleScroll);
});

onBeforeUnmount(() => {
  window.removeEventListener('scroll', handleScroll);
});

const handlerDrawer = () => {
  const drawerResult = drawer.value = true;
  emit('handlerDrawer', drawerResult);
}
</script>

<style lang="scss" scoped>
.app-bar {
  z-index: 1;
  background-color: rgba(17, 25, 40, 0.5);
  .icon-logo {
     width: 35px;
     margin-left: 25px;
     margin-top: 10px;
  }
  .menu-bar {
    margin-top: 1px;
  }
}

</style>
