<script setup lang="ts">
import { ref } from 'vue'

const value = ref(0)
</script>

<template>
  <v-layout class="overflow-visible" data-test="footer rendered">
    <v-bottom-navigation v-model="value" grow class="footer" bg-color="primary" elevation="9">
      <v-btn :to="{ path: '/homepage' }" color="secondary" variant="text">
        <v-icon size="25px">mdi-home</v-icon>
        Home
      </v-btn>
      <v-btn :to="{ path: '/playlist' }" color="secondary" variant="text">
        <v-icon size="25px">mdi-playlist-music</v-icon>
        Playlist
      </v-btn>
    </v-bottom-navigation>
  </v-layout>
</template>
<style lang="scss" scoped>
.footer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
</style>
