<template>
  <v-row>
    <v-col class="pl-7">
      <v-icon icon="mdi-arrow-left" class="arrow" @click.stop="goBack" size="25px">mdi-arrow-left</v-icon>
    </v-col>
  </v-row>
</template>
<script setup lang="ts">
import { useRouter } from 'vue-router'

const router = useRouter()

const goBack = () => {
  router.go(-1)
}
</script>
<style lang="scss" scoped>
.arrow {
  color: white;
}
</style>