<template>
  <div class="border" data-test="green border"></div>
</template>
<style scoped>
.border {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(86, 181, 166);
  width: 5px;
}
</style>