<template>
  <v-container  data-test="header">
    <v-row class="custom-header" :style="headerStyle">
      <v-col class="d-flex align-center justify-center">
        <h1 class="text-white font-weight-bold">{{ headerTitle }}</h1>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import { useRoute } from 'vue-router';
import { computed } from 'vue';
import useHeaderStyle from "../../composables/useHeaderStyle";

const route = useRoute();
const { headerStyle } = useHeaderStyle();
const headerTitle = computed(() => {
  if (route.params.song) {
    return route.params.song;
  }
  if (route.params.name) {
    return route.params.name;
  }
  return route.name;
});
</script>
<style lang="scss" scoped>
.custom-header {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
</style>
