<template>
  <v-container data-test="header by id">
    <v-row class="custom-header headerStyle">
      <v-col class="d-flex align-center justify-center flex-column">
        <h1 class="text-white font-weight-bold"> {{ title || headerTitle }}</h1>
        <h4 v-if="props.artist" class="text-white">{{ props.artist }}</h4>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">

const props = defineProps({
  headerTitle: String,
  title: String,
  artist: String
});

</script>
<style lang="scss" scoped>
.custom-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
.headerStyle {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://res.cloudinary.com/freelancer2222222222222222/image/upload/v1692639050/bg-home_lxvdjj.png');
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  height: 200px;
  background-size: cover;
  background-position: center;
}
</style>
