<template>
  <TheAppBar @handlerDrawer="handlerDrawer" />
  <v-card class="toggle-menu">
    <v-layout >
      <v-navigation-drawer
      class="menu"
      color="primary"
        v-model="drawer"
        temporary
      >
      <div class="mt-10 mb-10">
          <UserAvatar :userName="userName" />
        </div>
        <v-divider color="grey-lighten-5"></v-divider>

        <v-list density="compact" nav class="mt-10">
        <v-list-item prepend-icon="mdi-home" title="Home" value="home" class="menu__links mb-2"
          :to="{ path: '/homepage' }"></v-list-item>
        <v-list-item prepend-icon="mdi-view-dashboard" title="Category" value="category" class="menu__links mb-2"
          :to="{ path: '/category' }"></v-list-item>
        <v-list-item prepend-icon="mdi-playlist-music" title="Playlist" value="playlist" class="menu__links  mb-2"
          :to="{ path: '/playlist' }"></v-list-item>
        <v-list-item v-model:opened="open">
          <v-list-group value="Admin">
            <template v-slot:activator="{ props }">
              <v-list-item v-bind="props" title="Settings" class="menu__links" prepend-icon="mdi-cog-outline"></v-list-item>
            </template>

            <v-list-item v-for="( [title, icon], i ) in    admins   " :key="i" :title="title" :prepend-icon="icon"
              :value="title" color="white" class="menu__links" :to="`/${title.toLowerCase()}`"></v-list-item>
          </v-list-group>
        </v-list-item>
          <v-list-item class="text-center mt-10">
            <v-btn variant="outlined" class="text-subtitle-1" color="#56b5a6" size="small" @click="logoutUser">Logout</v-btn>
          </v-list-item>
          <BrandLogo class="d-flex justify-center mt-10" />
        </v-list>
      </v-navigation-drawer>
    </v-layout>
  </v-card>
</template>
<script lang="ts" setup>
import { userServiceKey } from "@/services/userService";
import { getAuth } from "firebase/auth";
import { inject, onMounted, reactive, ref } from "vue";
import { useRouter } from 'vue-router';
import TheAppBar from "./TheAppBar.vue";
import UserAvatar from "@/components/UserAvatar.vue";
import BrandLogo from "@/components/BrandLogo.vue";

const userService = inject(userServiceKey)!
const router = useRouter();
const drawer = ref(false);

const open = ref(['Admin'],)
const admins = reactive([
  ['Profile', 'mdi-account'],
  ['Help', 'mdi-help'],
  ['Feedback', 'mdi-message'],
]);

const currentUser = ref();
const auth = getAuth();
const userId = auth.currentUser?.uid;

const userName = ref<string>('');

onMounted(async () => {
  if (userId) {
    currentUser.value = await userService.getCurrentUser(userId);
    userName.value = currentUser.value?.name;
  }
});

const logoutUser = async () => {
  try {
    await userService.logout();
    router.push({ path: '/login' });
  } catch (error) {
    console.error("Error al cerrar sesión: ", error);
  }
};

const handlerDrawer = () => {
  drawer.value = !drawer.value
}
</script>
<styles lang="scss" scoped>
.toggle-menu {
  background: "#070c0d";
  z-index: 1;
  height: 100%;
}
  .menu-bar {
  font-size: 1.5em;
  margin-top: -20px;
}

.menu__links:hover {
    background: #56b5a6;
    color: #070c0d;
  }

  .menu {
   border-right: 4px solid #56b5a6;
  }
</styles>